@font-face {
    font-family: Play-Regular;
    src: url('../font/play/Play-Regular.ttf');
}

@font-face {
    font-family: Play-Bold;
    src: url('../font/play/Play-Bold.ttf');
}

html, body {
    background-color: #1E272E;
    color: #FFFFFF;
    font-family: Play-Regular;
    font-size: larger;
}

a {
    text-decoration: none;
}

a, a:focus, a:link, a:active, a:hover, a:visited {
    color: #05C46B;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-inverse, .btn-inverse:focus, .btn-inverse:active {
    background-color: #FFFFFF;
}

@media (max-width: 660px) {
    .timer .time-remaining {
        font-size: 2em !important;
    }
}